/* ### LIST ### */

ol.references {
  counter-reset: item;
  margin-left: 0;
  padding-left: 0;
}
li.references {
  display: block;
}
li.references::before {
  display: inline-block;
  content: "[" counter(item) "] ";
  counter-increment: item;
  width: 1.75em;
  margin-left: -2em;
}


/* ### PARAGRAPH ### */

.md-typeset p:not([class]) {
    hyphens: auto;
    text-align: justify;
}


/* ### CODE ### */

.md-typeset code:not([class]) {
    font-size: .875em;
}


/* ### FIGCAPTION ### */

.md-typeset figcaption:not([class]) {
    font-size: .875em;
    font-style: normal;
    hyphens: auto;
    text-align: justify;
    text-color: dimgray;
}


/* ### TABLE ### */

.md-typeset table:not([class]) {
    font-size: .875em;
    line-height: 1;
    border: none;
    border-collapse: collapse;
}

.md-typeset table:not([class]) td,
.md-typeset table:not([class]) th {
    border: 1px solid var(--md-typeset-table-color);
    vertical-align: middle;
}

.md-typeset table:not([class]) th {
    background-color: #f8f8f8;
}
